@use 'mixins' as *;
@use 'variables' as *;

@font-face {
    font-family: 'Avenir';
    src: url("../asset/fonts/AvenirNextLTPro.ttf") format('truetype');
}

@font-face {
    font-family: 'Avenir-bold';
    src: url("../asset/fonts/AvenirNextLTProBold.ttf") format('truetype');
}

@font-face {
    font-family: 'Avenir-demi';
    src: url("../asset/fonts/AvenirNextLTProDemi.ttf") format('truetype');
}

// color-variables
$primary-black: #323232;
$primary-silver:#afafaf;
$primary-white: #ffffff;
$secondary-black:#000000;
$secondary-silver: #e1e1e1;
$secondary-white:#fafafa;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Avenir';
    font-size: 0.81rem;
    line-height: 1.13rem;
    font-weight: 400;
    @include tablet{
        font-size: 0.88rem;
        line-height: 1.38rem;
        }
}


h1{
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "Avenir-bold";
    font-weight: 700;
    padding: 1.5rem 0 1rem 0;
    @include tablet{
        font-size: 3.75rem;
        line-height: 4.25rem;
        padding: 3rem 0 2.25rem 0;
        }
}

h2{
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "Avenir-bold";
    font-weight: 700;
    padding: 1.5rem 0 1rem 0;
    @include tablet{
        font-size: 2.25rem;
        font-family: "Avenir";
        line-height: 2.75rem;
        padding: 3rem 0 2.25rem 0;
        }
}

h3{
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: "Avenir-demi";
    font-weight: 600;
    padding: 1.5rem 0 1rem 0;
    @include tablet{
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 3rem 0 2.25rem 0;
        }
}

button{
    color: $primary-white;
    font-family: "Avenir-bold";
    font-size: 0.625rem;
    line-height: 1.25rem;
    background: $primary-silver;
    max-height: 2rem;
    min-width: 9.375rem;
    padding: 0 2.0625em 0 2.0625em;
    border-radius: 0.25rem;
    @include tablet{
        font-size: 0.75rem;
        line-height: 1.25rem;
        background-color: $secondary-black;
        }
}

label{
    font-size: 0.625rem;
    line-height: 1.25rem;
    font-family: "Avenir-bold";
    @include tablet{
        font-size: 0.75rem;
        line-height: 1.25rem;
        }
}

.container{
    margin: 0 auto;
    padding: 0 1rem;

    @include tablet{
        max-width: 48rem;
        padding: 0 2.25rem;

    }

    @include desktop{
        max-width: 80rem;
    }
}

.sitelogo{
    max-width: 7.5rem;
    max-height: 1.25rem;
}