@use 'mixins' as *;
@use 'variables' as *;
@use 'typography' as *;



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Avenir', sans-serif;
    font-size: 0.81rem;
    line-height: 1.13rem;
    font-weight: 400;
    @include tablet{
        font-size: 0.88rem;
        line-height: 1.38rem;
        }
}


h1{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    padding: 1.5rem 0 1rem 0;
    @include tablet{
        font-size: 3.75rem;
        line-height: 4.25rem;
        padding: 3rem 0 2.25rem 0;
        }
}

h2{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    padding: 1.5rem 0 1rem 0;
    @include tablet{
        font-size: 2.25rem;
        line-height: 2.75rem;
        padding: 3rem 0 2.25rem 0;
        }
}

h3{
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    padding: 1.5rem 0 1rem 0;
    @include tablet{
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 3rem 0 2.25rem 0;
        }
}

button{
    color: $primary-white;
    font-size: 0.625rem;
    line-height: 1.25rem;
    background-color: $primary-black;
    max-height: 2rem;
    font-weight: 700;
    font-family: 'Avenir', sans-serif;
    min-width: 9.375rem;
    border-radius: 0.25rem;

    &:hover{
        background: $secondary-black;
    }

    @include tablet{
        font-size: 0.75rem;
        line-height: 1.25rem;
        background-color: $secondary-black;
        }
}

label{
    font-size: 0.625rem;
    line-height: 1.25rem;
    font-weight: 600;
    color: $primary-silver;
    text-transform: capitalize;
    @include tablet{
        font-size: 0.75rem;
        line-height: 1.25rem;
        }
}

.container{
    margin: 0 auto;
    padding: 0 1rem;

    @include tablet{
        max-width: 48rem;
        padding: 0 2.25rem;

    }

    @include desktop{
        max-width: 80rem;
    }
}

.sitelogo{
    max-width: 7.5rem;
    max-height: 1.25rem;
}