@font-face {
  font-family: "Avenir";
  src: url("../asset/fonts/AvenirNextLTPro.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-bold";
  src: url("../asset/fonts/AvenirNextLTProBold.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-demi";
  src: url("../asset/fonts/AvenirNextLTProDemi.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir";
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 14px;
    line-height: 22px;
  }
}

h1 {
  font-size: 24px;
  line-height: 32px;
  font-family: "Avenir-bold";
  font-weight: 700;
  padding: 24px 0 16px 0;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
    line-height: 68px;
    padding: 48px 0 36px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 32px;
  font-family: "Avenir-bold";
  font-weight: 700;
  padding: 24px 0 16px 0;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 36px;
    line-height: 44px;
    padding: 48px 0 36px 0;
  }
}

h3 {
  font-size: 14px;
  line-height: 22px;
  font-family: "Avenir-demi";
  font-weight: 600;
  padding: 24px 0 16px 0;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 24px;
    line-height: 32px;
    padding: 48px 0 36px 0;
  }
}

button {
  color: #ffffff;
  font-family: "Avenir-bold";
  font-size: 10px;
  line-height: 20px;
  background: #afafaf;
  max-height: 2rem;
  min-width: 9.375rem;
  padding: 0 2.0625em 0 2.0625em;
  border-radius: 0.25rem;
}
@media screen and (min-width: 768px) {
  button {
    font-size: 12px;
    line-height: 20px;
    background-color: #000000;
  }
}

label {
  font-size: 10px;
  line-height: 20px;
  font-family: "Avenir-bold";
}
@media screen and (min-width: 768px) {
  label {
    font-size: 12px;
    line-height: 20px;
  }
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.sitelogo {
  max-width: 120px;
  max-height: 20px;
}

body {
  height: 100%;
}

.nav {
  background: #323232;
  color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.nav__background {
  background-color: #323232;
}
.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: auto;
}
.nav__logo--image {
  height: auto;
  width: 100%;
}
.nav__list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .nav__list {
    width: 30%;
    justify-content: center;
    margin: 0;
    align-items: center;
  }
}
.nav__list--item {
  list-style: none;
  width: 100%;
  height: 100%;
  text-align: center;
}
.nav__list--item:hover {
  font-weight: 400;
  border-bottom: 0.3rem solid white;
}
.nav__list--item:hover a {
  color: #ffffff;
}
.nav__list--item a {
  text-decoration: none;
  color: #afafaf;
  margin: 1rem;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__lista:active {
  font-weight: 400;
  border-bottom: 0.3rem solid white;
}
@media screen and (min-width: 768px) {
  .nav {
    flex-direction: row;
    width: 100%;
    margin: 0;
  }
}

.hero-image {
  background: url(../asset/images/hero-bio.jpg);
  background-size: cover;
  position: relative;
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 0;
  overflow: hidden;
  max-width: 100%;
}
.hero-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(50, 50, 50, 0.5);
  z-index: 1;
}
.hero-image__text {
  padding-left: 1rem;
  color: #ffffff;
  z-index: 2;
}

.intro__details--container {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .intro__details--container {
    padding: 1rem 3rem;
  }
}
.intro__image-container {
  background-size: cover;
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 0;
  overflow: hidden;
}
.intro__image {
  width: 100%;
}
.intro__text #text-source {
  font-family: "Avenir";
  font-weight: 700;
  font-size: 0.8125rem;
}
@media screen and (min-width: 768px) {
  .intro__text #text-source {
    font-size: 0.875rem;
  }
}
.intro__text--headline {
  padding: 0;
  padding: 0.75rem;
}
.intro__text--detail {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .intro__text--detail {
    flex-direction: row;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gallery__header {
  padding-left: 0;
}
.gallery__background {
  background-color: #e1e1e1;
}
.gallery__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .gallery__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.gallery__image {
  width: 100%;
  height: auto;
  filter: grayscale(0.8);
}
@media screen and (min-width: 768px) {
  .gallery__image {
    width: 30%;
  }
}
.gallery__image:hover {
  filter: grayscale(0);
}

.footer {
  color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 2.25rem;
  }
}
.footer__background {
  background: #323232;
  display: flex;
  align-items: center;
  justify-items: center;
  width: 100%;
}
.footer__social {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .footer__social {
    flex-direction: row;
    align-items: center;
  }
}
.footer__social--header {
  width: 40%;
}
@media screen and (min-width: 1280px) {
  .footer__social--header {
    width: 30%;
  }
}
.footer__social--site {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__social--site {
    display: flex;
    margin-left: auto;
    justify-self: flex-end;
  }
}
.footer__media {
  width: 10%;
  flex-direction: row;
}
.footer__media--container {
  width: 25%;
  height: auto;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 768px) {
  .footer__media--container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2em;
  }
}
.footer__media--logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__company--container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  position: relative;
}
@media screen and (min-width: 768px) {
  .footer__company--container {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .footer__company--container {
    width: 70%;
  }
}
.footer__company {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__company--detail {
  font-weight: 700;
}
.footer__company a {
  text-decoration: none;
  color: #ffffff;
}
.footer_copyright--container {
  position: relative;
}
.footer__logo {
  margin: 1rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    display: none;
  }
}/*# sourceMappingURL=bio.css.map */